

body {
  font-family: Mukta;
  background-color: #32336c;
  background-image: linear-gradient(16deg, #32336c 26%, #5755b7 100%);
  margin: 0;
  color: #fff;
  height: 100vh;
}

.container {
  display: block;
}

img {
  height: 300px;
  padding: 50px;
  margin:0 auto;
  display:block;
}

button {
  background-color: #ff4747;
  background-image: linear-gradient(62deg, #ff4747 0%, #bc3e7f 100%);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  color: inherit;
  margin: 1rem;
  text-shadow: 0 0;
  text-transform: uppercase;
  box-shadow: 0 20px 40px 0 rgba(76,104,239,.15);
  transition: .2s;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  outline: none;
  margin:0 auto;
  display:block;
}
  button:hover {
    position: relative;
    top: -0.2rem;
    left: -0.2rem;
    box-shadow: 0 10px 40px 0 rgba(76,104,239,.25);
  }

.turnaround {
  transition: all 1s;
  transform: rotate(180deg); 
}
